# comments

bin
config
hl2
left4dead2_dlc*
platform
sdk_tools
update
*.log
*.exe
*.ico
*.lnk
steam_appid.txt

# add to GitHub LFS later
sdk_content/fts/REF
**/ref/

left4dead2/*.*

left4dead2/addons
left4dead2/bin
left4dead2/downloads
left4dead2/expressions
left4dead2/gfx

left4dead2/maps/*
!left4dead2/maps/fts_01.bsp
!left4dead2/maps/fts_01.nav

left4dead2/materialsrc
left4dead2/media
left4dead2/reslists
left4dead2/resource
left4dead2/save
left4dead2/scenes
left4dead2/screenshots
left4dead2/scripts
left4dead2/sound

left4dead2/materials/correction
left4dead2/materials/cubemaps
left4dead2/materials/editor
left4dead2/materials/liquids
left4dead2/materials/maps
left4dead2/materials/temp
left4dead2/materials/tools
left4dead2/materials/vgui

left4dead2/materials/models/props_placeable
left4dead2/materials/models/weapons

left4dead2/materials/models/props/sss

left4dead2/models/.hammer.mdlcache
left4dead2/models/props_foliage
left4dead2/models/survivors

left4dead2/models/props/sss

sdk_content/*
!sdk_content/fts
!sdk_content/mapsrc
sdk_content/mapsrc/*
!sdk_content/mapsrc/fts_01.vmf
